<div class="wrapper">
    <div class="container-fluid">
        <header class="cabeza">
            <img class="logo" src="../assets/IMG/logo.svg" alt="MALETEO">
        </header>
    </div>
</div>
<main>
    <div class="jumbo">
        <div class="wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="jumbo-inicio">
                            <div class="jumbo-margen">
                                <div class="jumbo-titulo">
                                    <h1 class="heading1">Gana dinero guardando equipaje a viajeros como tu</h1>
                                </div>
                                <ul class="jumbo-lista">
                                    <li>
                                        <a href="#">
                                            <img class="jumbo-lista-app" src="../assets/IMG/app-store.svg">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="jumbo-lista-app" src="../assets/IMG/google-play.svg">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="pasos">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <h2 class="heading2 titulo">¿Cómo funciona?</h2>
                    </div>
                    <div class="pasos-puntos">
                        <div class="col-sm-12 col-md-4">
                            <div class="pasos-puntos-orden">
                                <p class="pasos-puntos-orden-numero heading3">1</p>
                                <div class="pasos-puntos-orden-texto">
                                    <h2 class="pasos-puntos-orden-texto-titulo heading2 ">Date de alta</h2>
                                    <p>Una olla de algo más vaca carnero, salpicón las más noches, duelos y quebrantos los sábados.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 ">
                            <div class="pasos-puntos-orden">
                                <p class="pasos-puntos-orden-numero heading3">2</p>
                                <div class="pasos-puntos-orden-texto">
                                    <h2 class="pasos-puntos-orden-texto-titulo heading2 ">Publica tus espacios, horarios y tarifas</h2>
                                    <p>En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 ">
                            <div class="pasos-puntos-orden">
                                <p class="pasos-puntos-orden-numero heading3">3</p>
                                <div class="pasos-puntos-orden-texto">
                                    <h2 class="pasos-puntos-orden-texto-titulo heading2 ">Recibe viajeros y gana dinero</h2>
                                    <p>No ha mucho tiempo que vivía un hidalgo de los de lanza en astillero.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-registro></app-registro>
            <div class=" opinion ">
                <div class="row ">
                    <div class="col-sm-12 col-md-12 ">
                        <div class="titulo ">
                            <h2 class="heading2 ">Opiniones de otros guardianes</h2>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-12 col-md-4 opinion-guardian ">
                        <div class="opinion-guardian-texto ">
                            <div class="opinion-guardian-texto-contenido ">
                                <p>
                                    Tras el enorme éxito internacional de su primera colaboración, "Bailar ", que ganó un galardón en los Premios
                                </p>
                            </div>
                        </div>
                        <div class="opinion-guardian-datos ">
                            <div class="opinion-guardian-datos-nombre ">
                                <p>Nombre</p>
                            </div>
                            <div class="opinion-guardian-datos-direccion ">
                                <p>Direccion1</p>
                                <p>Direccion2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 opinion-guardian ">
                        <div class="opinion-guardian-texto ">
                            <div class="opinion-guardian-texto-contenido ">
                                <p>
                                    Tras el enorme éxito internacional de su primera colaboración, "Bailar ", que ganó un galardón en los Premios
                                </p>
                            </div>
                        </div>
                        <div class="opinion-guardian-datos ">
                            <div class="opinion-guardian-datos-nombre ">
                                <p>Nombre</p>
                            </div>
                            <div class="opinion-guardian-datos-direccion ">
                                <p>Direccion1</p>
                                <p>Direccion2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 opinion-guardian ">
                        <div class="opinion-guardian-texto ">
                            <div class="opinion-guardian-texto-contenido ">
                                <p>
                                    Tras el enorme éxito internacional de su primera colaboración, "Bailar ", que ganó un galardón en los Premios
                                </p>
                            </div>
                        </div>
                        <div class="opinion-guardian-datos ">
                            <div class="opinion-guardian-datos-nombre ">
                                <p>Nombre</p>
                            </div>
                            <div class="opinion-guardian-datos-direccion ">
                                <p>Direccion1</p>
                                <p>Direccion2</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="busqueda">
                <div class="row ">
                    <div class="col-sm-12 col-md-12 ">
                        <div class="busqueda-titulo ">
                            <div class="titulo ">
                                <h2 class="heading2 ">Guardianes cerca tuyo</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-12 col-md-12 ">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3035.7660302579584!2d-3.692118748751432!3d40.45831516093139!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42291c64b1c869%3A0x5baf4747d689f14e!2sCuzco!5e0!3m2!1ses!2ses!4v1570454607479!5m2!1ses!2ses "
                            frameborder="0 " style="border:0; " allowfullscreen=" " class="busqueda-mapa ">
                  </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="pie caja-form ">
        <div class="wrapper ">
            <div class="container-fluid ">
                <div class="pie-contenido ">
                    <div class="pie-contenido-dato ">
                        <img class="logo " src="../assets/IMG/logo.svg " alt="MALETEO ">
                    </div>
                    <div class="pie-contenido-dato ">
                        <p>Hecho con ❤️en Madrid </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>