.caja {
  border-radius: 2%;
  border: 1px solid lightgrey;
}

.cTipo1 {
  margin: 0.5em;
}

.cTipo2 {
  margin: 1em;
}

.aTipo1 {
  width: 20vw;
  height: 50vh;
}

.aTipo2 {
  width: 50vw;
  height: 50vh;
}

.aTipo3 {
  height: 10vh;
}

.grupoTipo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
/*# sourceMappingURL=App.css.map */