/* You can add global styles to this file, and also import other style files */

.wrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

.row {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}

.row.reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.col.reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

[class*="col-xs"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.col-xs-1 {
    -ms-flex-preferred-size: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
}

.col-xs-2 {
    -ms-flex-preferred-size: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
}

.col-xs-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
}

.col-xs-4 {
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
}

.col-xs-5 {
    -ms-flex-preferred-size: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
}

.col-xs-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
}

.col-xs-7 {
    -ms-flex-preferred-size: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
}

.col-xs-8 {
    -ms-flex-preferred-size: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
}

.col-xs-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
}

.col-xs-10 {
    -ms-flex-preferred-size: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
}

.col-xs-11 {
    -ms-flex-preferred-size: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
}

.col-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
}

.col-xs-offset-1 {
    margin-left: 8.3333333333%;
}

.col-xs-offset-2 {
    margin-left: 16.6666666667%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-4 {
    margin-left: 33.3333333333%;
}

.col-xs-offset-5 {
    margin-left: 41.6666666667%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-7 {
    margin-left: 58.3333333333%;
}

.col-xs-offset-8 {
    margin-left: 66.6666666667%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-10 {
    margin-left: 83.3333333333%;
}

.col-xs-offset-11 {
    margin-left: 91.6666666667%;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs {
    -webkit-box-flex: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
}

.start-xs {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    text-align: start;
}

.center-xs {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center;
    text-align: center;
}

.end-xs {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    text-align: end;
}

.top-xs {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -moz-align-items: flex-start;
    align-items: flex-start;
}

.middle-xs {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;
}

.bottom-xs {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -moz-align-items: flex-end;
    align-items: flex-end;
}

.around-xs {
    -ms-flex-pack: distribute;
    -moz-justify-content: space-around;
    justify-content: space-around;
}

.between-xs {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-justify-content: space-between;
    justify-content: space-between;
}

.first-xs {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}

.last-xs {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

@media only screen and (min-width: 48em) {
    .container {
        width: 46rem;
    }
    [class*="col-sm"] {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -moz-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .col-sm-1 {
        -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%;
    }
    .col-sm-2 {
        -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%;
    }
    .col-sm-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%;
    }
    .col-sm-5 {
        -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%;
    }
    .col-sm-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%;
    }
    .col-sm-8 {
        -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%;
    }
    .col-sm-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%;
    }
    .col-sm-10 {
        -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%;
    }
    .col-sm-11 {
        -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%;
    }
    .col-sm-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
    .col-sm-offset-1 {
        margin-left: 8.3333333333%;
    }
    .col-sm-offset-2 {
        margin-left: 16.6666666667%;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    .col-sm-offset-4 {
        margin-left: 33.3333333333%;
    }
    .col-sm-offset-5 {
        margin-left: 41.6666666667%;
    }
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    .col-sm-offset-7 {
        margin-left: 58.3333333333%;
    }
    .col-sm-offset-8 {
        margin-left: 66.6666666667%;
    }
    .col-sm-offset-9 {
        margin-left: 75%;
    }
    .col-sm-offset-10 {
        margin-left: 83.3333333333%;
    }
    .col-sm-offset-11 {
        margin-left: 91.6666666667%;
    }
    .col-sm-offset-12 {
        margin-left: 100%;
    }
    .col-sm {
        -webkit-box-flex: 1;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%;
    }
    .start-sm {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -moz-justify-content: flex-start;
        justify-content: flex-start;
        text-align: start;
    }
    .center-sm {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        text-align: center;
    }
    .end-sm {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        -moz-justify-content: flex-end;
        justify-content: flex-end;
        text-align: end;
    }
    .top-sm {
        -webkit-box-align: start;
        -ms-flex-align: start;
        -moz-align-items: flex-start;
        align-items: flex-start;
    }
    .middle-sm {
        -webkit-box-align: center;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center;
    }
    .bottom-sm {
        -webkit-box-align: end;
        -ms-flex-align: end;
        -moz-align-items: flex-end;
        align-items: flex-end;
    }
    .around-sm {
        -ms-flex-pack: distribute;
        -moz-justify-content: space-around;
        justify-content: space-around;
    }
    .between-sm {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -moz-justify-content: space-between;
        justify-content: space-between;
    }
    .first-sm {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
    .last-sm {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
}

@media only screen and (min-width: 62em) {
    .container {
        width: 61rem;
    }
    [class*="col-md"] {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -moz-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .col-md-1 {
        -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%;
    }
    .col-md-2 {
        -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%;
    }
    .col-md-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }
    .col-md-4 {
        -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%;
    }
    .col-md-5 {
        -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%;
    }
    .col-md-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }
    .col-md-7 {
        -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%;
    }
    .col-md-8 {
        -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%;
    }
    .col-md-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%;
    }
    .col-md-10 {
        -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%;
    }
    .col-md-11 {
        -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%;
    }
    .col-md-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
    .col-md-offset-1 {
        margin-left: 8.3333333333%;
    }
    .col-md-offset-2 {
        margin-left: 16.6666666667%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-4 {
        margin-left: 33.3333333333%;
    }
    .col-md-offset-5 {
        margin-left: 41.6666666667%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-7 {
        margin-left: 58.3333333333%;
    }
    .col-md-offset-8 {
        margin-left: 66.6666666667%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-10 {
        margin-left: 83.3333333333%;
    }
    .col-md-offset-11 {
        margin-left: 91.6666666667%;
    }
    .col-md-offset-12 {
        margin-left: 100%;
    }
    .col-md {
        -webkit-box-flex: 1;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%;
    }
    .start-md {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -moz-justify-content: flex-start;
        justify-content: flex-start;
        text-align: start;
    }
    .center-md {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        text-align: center;
    }
    .end-md {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        -moz-justify-content: flex-end;
        justify-content: flex-end;
        text-align: end;
    }
    .top-md {
        -webkit-box-align: start;
        -ms-flex-align: start;
        -moz-align-items: flex-start;
        align-items: flex-start;
    }
    .middle-md {
        -webkit-box-align: center;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center;
    }
    .bottom-md {
        -webkit-box-align: end;
        -ms-flex-align: end;
        -moz-align-items: flex-end;
        align-items: flex-end;
    }
    .around-md {
        -ms-flex-pack: distribute;
        -moz-justify-content: space-around;
        justify-content: space-around;
    }
    .between-md {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -moz-justify-content: space-between;
        justify-content: space-between;
    }
    .first-md {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
    .last-md {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
}


/*----------Colores-----------*/


/*----------Fuentes-----------*/


/*----------Pantalla-----------*/


/*----------Colores-----------*/


/*----------Fuentes-----------*/


/*----------Pantalla-----------*/

.heading1,
.heading2,
.heading3,
.heading4 {
    line-height: 1.2em;
}

.heading1 {
    font-size: 32px;
}

@media only screen and (min-width: 62em) {
    .heading1 {
        font-size: 48px;
    }
}

.heading2 {
    font-size: 28.8px;
}

@media only screen and (min-width: 62em) {
    .heading2 {
        font-size: 39.04px;
    }
}

.heading3 {
    font-size: 25.6px;
}

@media only screen and (min-width: 62em) {
    .heading3 {
        font-size: 30.88px;
    }
}

.heading4 {
    font-size: 22.4px;
}

@media only screen and (min-width: 62em) {
    .heading4 {
        font-size: 24.96px;
    }
}

.text-large {
    font-size: 1.2em;
    line-height: 28px;
}

.jumbo {
    height: 500px;
    background-image: url("./assets/IMG/jumbo.jpg");
    background-size: cover;
    margin-bottom: 3em;
}

@media only screen and (max-width: 62em) {
    .jumbo {
        height: auto;
    }
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .jumbo {
        background-image: url(./assets/IMG/jumbo@2x.jpg);
    }
}

.jumbo-inicio {
    height: 500px;
    background: rgba(47, 46, 45, 0.85);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media only screen and (max-width: 62em) {
    .jumbo-inicio {
        height: auto;
    }
}

.jumbo-margen {
    padding: 2em;
}

@media only screen and (max-width: 62em) {
    .jumbo-margen {
        padding: 1.2em;
    }
}

.jumbo-titulo {
    color: #ffffff;
    margin-bottom: 0.7em;
}

.jumbo-lista {
    list-style: none;
}

.jumbo-lista li {
    display: inline-block;
}

.jumbo-lista li:first-child {
    margin-right: 1em;
}

.jumbo-app {
    width: 150px;
}

@media only screen and (min-width: 62em) {
    .jumbo-app {
        width: auto;
    }
}

.pasos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 3em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pasos-puntos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

@media only screen and (max-width: 62em) {
    .pasos-puntos {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 62em) {
    .pasos-puntos-orden {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

.pasos-puntos-orden-numero {
    width: 2em;
    height: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffce32), to(#f09000));
    background-image: linear-gradient(#ffce32, #f09000);
    color: #ffffff;
    margin: 0.5em auto;
}

@media only screen and (max-width: 62em) {
    .pasos-puntos-orden-numero {
        margin-right: 0.5em;
    }
}

.pasos-puntos-orden-texto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media only screen and (max-width: 62em) {
    .pasos-puntos-orden-texto {
        text-align: left;
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
        width: 17em;
    }
}

.pasos-puntos-orden-texto-titulo {
    margin-bottom: 0.5em;
}

.contacto {
    margin-bottom: 3em;
}

.contacto-iphonex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media only screen and (max-width: 62em) {
    .contacto-iphonex {
        display: none;
    }
}

.contacto-formulario {
    border: #e3e2e2 2px solid;
    width: 70%;
}

@media only screen and (max-width: 62em) {
    .contacto-formulario {
        width: 100%;
    }
}

.contacto-formulario-caja {
    margin-bottom: 1em;
}

.contacto-formulario-caja label {
    display: block;
    margin-bottom: .2em;
}

.contacto-formulario-contenido {
    margin-top: 2em;
    margin-left: 2em;
    padding-bottom: 2em;
}

.contacto-formulario-contenido-dato {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.contacto-formulario-contenido-dato-texto {
    width: 100%;
    margin: 0.5em 0;
}

.contacto-formulario-contenido-dato-campo {
    width: 90%;
    height: 30px;
    margin: 0.5em 0;
    border-radius: 5px;
}

.contacto-formulario-contenido-dato-campo_s {
    height: 30px;
    margin: 0.5em 0;
    border-radius: 5px;
}

.contacto-formulario-contenido-dato-chb {
    margin-right: 0.3em;
}

.boton {
    border: none;
    border-radius: 4px;
    font-size: 1.25em;
    padding: .5em 1em;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffce32), to(#f09000));
    background: linear-gradient(#ffce32, #f09000);
    color: #ffffff;
}

.boton:hover {
    background: #f9a519;
}

.correcto {
    padding: 1em;
    display: block;
}

@media only screen and (min-width: 62em) {
    .correcto {
        padding: 2em;
    }
}

.oculto {
    display: none;
}

.opinion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 3em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.opinion-guardian-texto {
    border: #e3e2e2 2px solid;
}

.opinion-guardian-texto-contenido {
    padding: 1em;
    text-align: justify;
}

.opinion-guardian-datos {
    margin: 1em 0;
}

.opinion-guardian-datos-nombre {
    margin: 0.5em 0;
}

.opinion-guardian-datos-direccion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.opinion-guardian-datos-direccion :first-child:after {
    content: ",";
}

.busqueda {
    margin-bottom: 2em;
}

.busqueda-titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.busqueda-mapa {
    width: 100%;
    height: 500px;
}

.pie {
    background-color: #4b4948;
    padding: 3em 0;
}

.pie-contenido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.pie-contenido-dato {
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin: 0.5em;
}

.caja {
    margin-bottom: 2em;
}

.cabeza {
    margin: 2em 0;
}

body {
    font-family: "Catamaran", sans-serif;
    color: #2f2e2d;
}

.titulo {
    text-align: center;
    margin-bottom: 1em;
}

@media only screen and (max-width: 62em) {
    .titulo {
        text-align: left;
    }
}


/*# sourceMappingURL=style.css.map */