<div class="contacto ">
    <div class="row ">
        <div class="col-md-6 ">
            <div class="contacto-iphonex ">
                <div class="contacto-iphonex-imagen ">
                    <img src="../../assets/IMG/iPhoneX.png ">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 ">
            <div class="contacto-formulario ">
                <div class="contacto-formulario-contenido" id="contenidoForm">
                    <div class="contacto-formulario-contenido-dato contacto-formulario-caja ">
                        <p class="heading3">Solicita una demo</p>
                    </div>
                    <!--<form id="myForm" action="https://httpbin.org/post" method="POST">-->
                    <div class="contacto-formulario-contenido-dato contacto-formulario-caja ">
                        <label class="contacto-formulario-contenido-dato-texto text" id="nombre" for="nombre">Nombre</label>
                        <input type="text " name="nombre " value="Vincent Chase " class="contacto-formulario-contenido-dato-campo " [(ngModel)]="nuevaSolicitud.nombre" />
                    </div>
                    <div class="contacto-formulario-contenido-dato contacto-formulario-caja ">
                        <label class="contacto-formulario-contenido-dato-texto text " id="email" for="email">Email</label>
                        <input type="text " name="email " value="vincent@mga.com " class="contacto-formulario-contenido-dato-campo " [(ngModel)]="nuevaSolicitud.email" />
                    </div>
                    <div class="contacto-formulario-contenido-dato contacto-formulario-caja ">
                        <label class="contacto-formulario-contenido-dato-texto text" id="horario" form="horario">Horario preferido</label>
                        <input type="text " name="horario " value="--:-- " class="contacto-formulario-contenido-dato-campo " [(ngModel)]="nuevaSolicitud.horario" />
                    </div>
                    <div class="contacto-formulario-contenido-dato contacto-formulario-caja">
                        <label class="contacto-formulario-contenido-dato-texto text" id="ciudad" form="ciudad">Ciudad</label>
                        <select class="contacto-formulario-contenido-dato-campo" name="ciudad" [(ngModel)]="nuevaSolicitud.ciudad">
                              <option>Madrid</option>
                              <option>Ciudad2</option>
                              <option>Ciudad3</option>
                          </select>
                    </div>
                    <div class="contacto-formulario-contenido-dato contacto-formulario-caja">
                        <div class="contacto-formulario-contenido-dato-chb ">
                            <input type="checkbox" name="privacidad" [(ngModel)]="politicaAceptar">
                        </div>
                        <label id="privacidad">He leído y acepto la política de privacidad</label>
                    </div>
                    <input type="submit" value="Enviar" class="contacto-formulario-contenido-dato boton" [disabled]="! politicaAceptar" (click)="enviar()">
                    <!-- </form> -->
                </div>
                <div class="oculto" id="mensaje">
                    <h3 class="heading3">Datos enviados</h3>
                    <p>Los datos se han enviado correctamente</p>
                </div>
            </div>
        </div>
    </div>
</div>