nav {
    float: left;
    width: 15%;
    padding-right: 2%;
}

article {
    float: left;
    width: 80%
}

ul {
    list-style: none;
    padding-left: 0em;
}

li {
    color: white;
    padding: 0.5em;
    margin-top: 1.2em;
    background-color: lightblue;
}

.extr {
    clear: both;
    background-color: grey;
    padding: 2em;
    color: white;
}