.caja {
    border-radius: 2%;
    border: 1px solid lightgrey;
}

.cTipo1 {
    margin: 0.5em;
}

.cTipo2 {
    margin: 1em;
}

.aTipo1 {
    width: 20vw;
    height: 50vh;
}

.aTipo2 {
    width: 50vw;
    height: 50vh;
}

.aTipo3 {
    height: 10vh;
}

.grupoTipo1 {
    display: flex;
    flex-wrap: nowrap;
}