.cab {
    &-1 {
        div {
            display: flex;
            div {
                width: 90%;
                margin: 0 auto;
                justify-content: space-between;
                div {
                    display: flex;
                }
                ul {
                    list-style: none;
                    li {
                        display: inline-block;
                    }
                }
            }
        }
    }
    &-2 {
        display: flex;
        justify-content: space-between;
        p {
            display: inline-block;
        }
    }
}