.contacto {
    margin-bottom: 3em;
    &-iphonex {
        display: flex;
        justify-content: center;
        @media only screen and (max-width: $SCREENWIDTH) {
            display: none;
        }
    }
    &-formulario {
        border: $GRAY1 2px solid;
        width: 70%;
        @media only screen and (max-width: $SCREENWIDTH) {
            width: 100%;
        }
        &-caja {
            margin-bottom: 1em;
            label {
                display: block;
                margin-bottom: .2em;
            }
        }
        &-contenido {
            margin-top: 2em;
            margin-left: 2em;
            padding-bottom: 2em;
            &-dato {
                display: flex;
                flex-wrap: wrap;
                //display: none;
                &-texto {
                    width: 100%;
                    margin: 0.5em 0;
                }
                &-campo {
                    width: 90%;
                    height: 30px;
                    margin: 0.5em 0;
                    border-radius: 5px;
                }
                &-campo_s {
                    height: 30px;
                    margin: 0.5em 0;
                    border-radius: 5px;
                }
                &-chb {
                    margin-right: 0.3em;
                }
            }
        }
    }
}

.boton {
    border: none;
    border-radius: 4px;
    font-size: 1.25em;
    padding: .5em 1em;
    background: $GRADIENT_S1;
    color: $WHITE;
    &:hover {
        background: $PRIMARY2;
    }
}