$J-HEIGHT: 500px;
$J-HEIGHT-M: auto;
.jumbo {
    height: $J-HEIGHT;
    background-image: url("../jumbo.jpg");
    background-size: cover;
    margin-bottom: 3em;
    @media only screen and (max-width: $SCREENWIDTH) {
        height: $J-HEIGHT-M;
    }
    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        background-image: url(../jumbo@2x.jpg);
    }
    &-inicio {
        height: $J-HEIGHT;
        background: $TRANSPARENCY2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media only screen and (max-width: $SCREENWIDTH) {
            height: $J-HEIGHT-M;
        }
    }
    &-margen {
        padding: 2em;
        @media only screen and (max-width: $SCREENWIDTH) {
            padding: 1.2em;
        }
    }
    &-titulo {
        color: $WHITE;
        margin-bottom: 0.7em;
    }
    &-lista {
        list-style: none;
        li {
            display: inline-block;
            &:first-child {
                margin-right: 1em;
            }
        }
    }
    &-app {
        width: 150px;
        @media only screen and (min-width: $SCREENWIDTH) {
            width: auto;
        }
    }
}