.opinion {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3em;
    justify-content: center;
    &-guardian {
        &-texto {
            border: $GRAY1 2px solid;
            &-contenido {
                padding: 1em;
                text-align: justify;
            }
        }
        &-datos {
            margin: 1em 0;
            &-nombre {
                margin: 0.5em 0;
            }
            &-direccion {
                display: flex;
                flex-wrap: nowrap;
                 :first-child:after {
                    content: ",";
                }
            }
        }
    }
}