{% extends 'base.html.twig' %}
{% block cuerpo %}
    <div class="wrapper">
        <div class="container-fluid">
            <header class="lista">
                <ul>
                    {% for solicitud in solicitudes %}
                        <li>
                            <p>
                                {{solicitud.nombre}} 
                                {{solicitud.email}} 
                                {{solicitud.horario}}
                                {{solicitud.ciudad}}
                            </p>
                        </li>
                    {% endfor %}
                </ul>  
            </header>
        </div>
    </div>
    
{% endblock %}