ul {
    list-style: none;
}

footer div {
    float: left;
}

aside,
footer {
    clear: both;
}

.breadcrumb li {
    display: inline-block;
}

.breadcrumb li:after {
    content: ">";
}

.breadcrumb li:last-child:after {
    content: "";
}

.breadcrumb li a {
    color: lightgray;
}

.producto li {
    float: left;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

figcaption {
    text-align: center;
}

.pago p {
    display: inline;
}

.social p {
    display: inline;
}


/*
.linea li {
    display: inline-block;
}

header .linea a {
    color: lightgray;
}

.linea li:last-child {
    font-weight: bold;
}

header .linea li:after {
    content: ">";
}

.linea li:last-child:after {
    content: "";
}
*/