ul {
    list-style: none;
}

.breadcrumb,
.producto,
footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.producto img {
    width: ;
}

figcaption {
    text-align: center;
}

.pago p,
.social p {
    display: inline;
}