{% extends '/cuerpo/partes/pasos.html.twig' %}

{% block cuerpocontacto %}
{% endblock %}
{% block cuerpoopinion %}
{% endblock %}
{% block cuerpobusqueda %}
    <div class="busqueda">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="busqueda-titulo">
                    <div class="titulo">
                        <h2 class="heading2">Guardianes cerca tuyo</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3035.7660302579584!2d-3.692118748751432!3d40.45831516093139!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42291c64b1c869%3A0x5baf4747d689f14e!2sCuzco!5e0!3m2!1ses!2ses!4v1570454607479!5m2!1ses!2ses "
                    frameborder="0 " style="border:0; " allowfullscreen=" " class="busqueda-mapa">
            </iframe>
            </div>
        </div>
    </div>
{% endblock %}
