{% extends '/cuerpo/partes/opinion.html.twig' %}
{% block cuerpocontacto %}
    <div class="contacto">
        <div class="row">
            <div class="col-md-6">
                <div class="contacto-iphonex">
                    <div class="contacto-iphonex-imagen">
                        <img src="assetsMaleteo/IMG/iPhoneX.png">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="contacto-formulario">
                    <div class="contacto-formulario-contenido" id="contenidoForm">
                        {% block formulario %}
                        {% endblock %}
                        {% block mensaje %}    
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}