{% extends '/cuerpo/main.html.twig' %}

{% block cuerpojumbo %}
    <div class="jumbo">
        <div class="wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="jumbo-inicio">
                            <div class="jumbo-margen">
                                <div class="jumbo-titulo">
                                    <h1 class="heading1">Gana dinero guardando equipaje a viajeros como tu</h2>
                                </div>
                                <ul class="jumbo-lista">
                                    <li>
                                        <a href="#">
                                            <img class="jumbo-lista-app" src="assetsMaleteo/IMG/app-store.svg">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="jumbo-lista-app" src="assetsMaleteo/IMG/google-play.svg">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block cuerpopasos %}
{% endblock %}
{% block cuerpocontacto %}
{% endblock %}
{% block cuerpoopinion %}
{% endblock %}
{% block cuerpobusqueda %}
{% endblock %}