{% extends '/cuerpo/partes/busqueda.html.twig' %}

{% block cuerpocontacto %}
{% endblock %}
{% block cuerpoopinion %}
    <div class="opinion">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="titulo">
                    <h2 class="heading2">Opiniones de otros guardianes</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for comentario in comentarios %}
                <div class="col-sm-12 col-md-4 opinion-guardian">
                    <div class="opinion-guardian-texto ">
                        <div class="opinion-guardian-texto-contenido">
                            <p>
                                {{comentario.comentario}}
                            </p>
                        </div>
                    </div>
                    <div class="opinion-guardian-datos">
                        <div class="opinion-guardian-datos-nombre">
                            <p>{{comentario.usuario}}</p>
                        </div>
                        <div class="opinion-guardian-datos-direccion">
                            <p>{{comentario.poblacion}}</p>
                            <p>{{comentario.ciudad}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}