{% extends '/cuerpo/partes/jumbo.html.twig' %}

{% block cuerpopasos %}
    <div class="pasos">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2 class="heading2 titulo">¿Cómo funciona?</h2>
            </div>
            <div class="pasos-puntos">
                <div class="col-sm-12 col-md-4">
                    <div class="pasos-puntos-orden">
                        <p class="pasos-puntos-orden-numero heading3">1</p>
                        <div class="pasos-puntos-orden-texto">
                            <h2 class="pasos-puntos-orden-texto-titulo heading2 ">Date de alta</h2>
                            <p>Una olla de algo más vaca carnero, salpicón las más noches, duelos y quebrantos los sábados.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 ">
                    <div class="pasos-puntos-orden">
                        <p class="pasos-puntos-orden-numero heading3">2</p>
                        <div class="pasos-puntos-orden-texto">
                            <h2 class="pasos-puntos-orden-texto-titulo heading2 ">Publica tus espacios, horarios y tarifas</h2>
                            <p>En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 ">
                    <div class="pasos-puntos-orden">
                        <p class="pasos-puntos-orden-numero heading3">3</p>
                        <div class="pasos-puntos-orden-texto">
                            <h2 class="pasos-puntos-orden-texto-titulo heading2 ">Recibe viajeros y gana dinero</h2>
                            <p>No ha mucho tiempo que vivía un hidalgo de los de lanza en astillero.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block cuerpocontacto %}
{% endblock %}
{% block cuerpoopinion %}
{% endblock %}
{% block cuerpobusqueda %}
{% endblock %}
