.pie {
    background-color: $GRAY5;
    padding: 3em 0;
    &-contenido {
        display: flex;
        flex-wrap: wrap;
        &-dato {
            color: $WHITE;
            text-align: center;
            width: 100%;
            margin: 0.5em;
        }
    }
}