@import '_grid';
@import '_variables';
@import '_fuente';
@import '_jumbo';
@import '_pasos';
@import '_contacto';
@import '_formulario';
@import '_opinion';
@import '_busqueda';
@import '_pie';
.caja {
    margin-bottom: 2em;
}

.cabeza {
    margin: 2em 0;
}

body {
    font-family: $FONT-FAMILY-BASE;
    color: $GRAY6;
}

.titulo {
    text-align: center;
    margin-bottom: 1em;
    @media only screen and (max-width: $SCREENWIDTH) {
        text-align: left;
    }
}