{% extends '/cuerpo/partes/contacto.html.twig' %}
{% block mensaje %}    
    <div class="correcto" id="mensaje">
        <h3 class="heading3">Datos enviados</h3>
        <p>Los datos se han enviado correctamente</p>
    </div>
{% endblock %}