{% extends '/cuerpo/partes/contacto.html.twig' %}
{% block formulario %}
    <div class="contacto-formulario-contenido-dato contacto-formulario-caja">
        <p class="heading3">Solicita una demo</p>
    </div>
    {{ form_start(formulario) }}
        <div class="contacto-formulario-contenido-dato contacto-formulario-caja">
            {{ form_label(formulario.nombre,'Nombre',{'label_attr':{'class':'contacto-formulario-contenido-dato-texto text'}})}}
            {{ form_widget(formulario.nombre, {'attr': {'class': 'contacto-formulario-contenido-dato-campo'}})}}
        </div>
        <div class="contacto-formulario-contenido-dato contacto-formulario-caja">
            {{ form_label(formulario.email,'Email',{'label_attr':{'class':'contacto-formulario-contenido-dato-texto text'}})}}
            {{ form_widget(formulario.email, {'attr': {'class': 'contacto-formulario-contenido-dato-campo'}})}}
        </div>
        <div class="contacto-formulario-contenido-dato contacto-formulario-caja">
            {{ form_label(formulario.horario,'Horario preferido',{'label_attr':{'class':'contacto-formulario-contenido-dato-texto text'}})}}
            {{ form_widget(formulario.horario, {'attr': {'class': 'contacto-formulario-contenido-dato-campo'}})}}
        </div>
        <div class="contacto-formulario-contenido-dato contacto-formulario-caja">
            {{ form_label(formulario.ciudad,'Ciudad',{'label_attr':{'class':'contacto-formulario-contenido-dato-texto text'}})}}
            {{ form_widget(formulario.ciudad, {'attr': {'class': 'contacto-formulario-contenido-dato-campo'}})}}
        </div>
        <div class="contacto-formulario-contenido-dato contacto-formulario-caja">
            <div class="contacto-formulario-contenido-dato-chb">
                <input type="checkbox" name="privacidad">
            </div>
            <label id="privacidad">He leído y acepto la política de privacidad</label>
        </div>
        <input type="submit" value="Enviar" class="contacto-formulario-contenido-dato boton">
    {{ form_end(formulario) }}
{% endblock %}

