{% extends '/cuerpo/header.html.twig' %}
  
{% block cuerpo %}
{% endblock %}
{% block pie %}
    <footer>
        <div class="pie caja-form">
            <div class="wrapper">
                <div class="container-fluid">
                    <div class="pie-contenido">
                        <div class="pie-contenido-dato">
                            <img class="logo " src="assetsMaleteo//IMG/logo.svg " alt="MALETEO">
                        </div>
                        <div class="pie-contenido-dato">
                            <p>Hecho con ❤️en Madrid </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}