{% extends 'base.html.twig' %}

{% block cabeza %}
    <div class="wrapper">
        <div class="container-fluid">
            <header class="cabeza">
                <img class="logo" src="assetsMaleteo/IMG/logo.svg" alt="MALETEO">
            </header>
        </div>
    </div>
{% endblock %}
{% block cuerpo %}
{% endblock %}
{% block pie %}
{% endblock %}