{% extends '/cuerpo/footer.html.twig' %}

{% block cuerpo %}
    {% block cuerpojumbo %}
    {% endblock %}
    <div class="wrapper">
        <div class="container-fluid">
            {% block cuerpopasos %}
            {% endblock %}
            {% block cuerpocontacto %}
            {% endblock %}
            {% block cuerpoopinion %}
            {% endblock %}
            {% block cuerpobusqueda %}
            {% endblock %}
        </div>
    </div>
{% endblock %}