.busqueda {
    margin-bottom: 2em;
    &-titulo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &-mapa {
        width: 100%;
        height: 500px;
    }
}