@import '_variables';
.heading1,
.heading2,
.heading3,
.heading4 {
    line-height: 1.2em;
}

.heading1 {
    font-size: $FONT-SIZE-BASE * 2;
    @media only screen and (min-width: $SCREENWIDTH) {
        font-size: $FONT-SIZE-BASE * 3;
    }
}

.heading2 {
    font-size: $FONT-SIZE-BASE * 1.8;
    @media only screen and (min-width: $SCREENWIDTH) {
        font-size: $FONT-SIZE-BASE * 2.44;
    }
}

.heading3 {
    font-size: $FONT-SIZE-BASE * 1.6;
    @media only screen and (min-width: $SCREENWIDTH) {
        font-size: $FONT-SIZE-BASE* 1.93;
    }
}

.heading4 {
    font-size: $FONT-SIZE-BASE * 1.4;
    @media only screen and (min-width: $SCREENWIDTH) {
        font-size: $FONT-SIZE-BASE * 1.56;
    }
}

.text-large {
    font-size: 1.2em;
    line-height: $LINE-HEIGHT-large;
}