.pasos {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3em;
    justify-content: center;
    &-puntos {
        display: flex;
        flex-wrap: nowrap;
        @media only screen and (max-width: $SCREENWIDTH) {
            flex-wrap: wrap;
        }
        &-orden {
            @media only screen and (max-width: $SCREENWIDTH) {
                display: flex;
                flex-wrap: nowrap;
            }
            &-numero {
                width: 2em;
                height: 2em;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-image: $GRADIENT_S1;
                color: $WHITE;
                margin: 0.5em auto;
                @media only screen and (max-width: $SCREENWIDTH) {
                    margin-right: 0.5em;
                }
            }
            &-texto {
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                justify-content: center;
                @media only screen and (max-width: $SCREENWIDTH) {
                    text-align: left;
                    justify-content: left;
                    width: 17em;
                }
                &-titulo {
                    margin-bottom: 0.5em;
                }
            }
        }
    }
}