<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Maleteo
            {% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" 
                href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
            <link href="https://fonts.googleapis.com/css?family=Catamaran:400,500&display=swap" 
                rel="stylesheet">
            <link rel="stylesheet" 
                href="assetsMaleteo/CSS/style.css">
        {% endblock %}
</head>
<body>
    {% block cabeza %}
    {% endblock %}    
    {% block cuerpo %}
    {% endblock %}
    {% block pie %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
</body>
</html>
