@charset "UTF-8";
/*
Crea una web que tenga dos columnas.
En la columna izquierda veremos un resumen de una cesta de la compra. Incluyendo nombre de
producto, canbdad y precio. La cesta deberá tener un total y mostrar su precio total con IVA.
Recuerda que debe haber un contador de productos (carrito).
En la parte derecha tendremos un formulario que nos permita añadir productos.
*/
.cuerpo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a {
  display: block;
}
/*# sourceMappingURL=styles.css.map */